$breakpoints: (
    all: null,
    xs: 599px,
    sm: 600px,
    md: 900px,
    lg: 1200px,
    xl: 1800px,
);
$text-position: (justify, left, center, right);
$distribution: (
    left: flex-start,
    center: center,
    right: flex-end,
    between: space-between,
    around: space-around,
);
$positions: (
    top: flex-start,
    middle: center,
    bottom: flex-end,
    between: space-between,
    around: space-around,
    evenly: space-evenly,
);
$col-order: (
    first: -1,
    last: 1,
);
