@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include media($breakpoint-size) {
        /**
            *   DISPLAY DISTRIBUTION
            */
        .u-#{$breakpoint-name}-display--inline {
            display: inline;
        }
        .u-#{$breakpoint-name}-display--inline-block {
            display: inline-block;
        }
        .u-#{$breakpoint-name}-display--block {
            display: block;
        }
        /**
            *   TEXT POSITION
            */
        @each $position in $text-position {
            .u-#{$breakpoint-name}-text--#{$position} {
                text-align: $position;
            }
        }
        /**
            *   X-AXIS DISTRIBUTION
            */
        @each $name, $position in $x-axis {
            .u-#{$breakpoint-name}-x-axis--#{$name} {
                justify-content: $position;
            }
        }
        /**
            *   Y-AXIS DISTRIBUTION (CONTENT)
            */
        @each $name, $position in $y-axis {
            .u-#{$breakpoint-name}-y-axis-content--#{$name} {
                align-content: $position;
            }
        }
        /**
            *   Y-AXIS DISTRIBUTION (ITEMS)
            */
        @each $name, $position in $y-axis {
            .u-#{$breakpoint-name}-y-axis-items--#{$name} {
                align-items: $position;
            }
        }
        /**
            *   Y-AXIS DISTRIBUTION (SELF)
            */
        @each $name, $position in $y-axis {
            .u-#{$breakpoint-name}-y-axis-self--#{$name} {
                align-self: $position;
            }
        }
        /**
            *   HIDDEN ELEMENT
            */
        .u-#{$breakpoint-name}-hidden--on {
            display: none;
        }
        .u-#{$breakpoint-name}-hidden--off {
            display: initial;
        }
        /**
            *   ORDER POSITION
            */
        @each $order, $number in $col-order {
            .u-#{$breakpoint-name}--#{$order} {
                order: $number;
            }
        }
    }
}
