@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include media($breakpoint-size) {
        /**
            *   TEXT POSITION
            *   .xs-text--left
            */
        @each $position in $text-position {
            .#{$breakpoint-name}-text--#{$position} {
                text-align: $position;
            }
        }
        /**
            *   DISTRIBUTION POSITION
            *   .xs-x-axis--left
            */
        @each $name, $position in $distribution {
            .#{$breakpoint-name}-x-axis--#{$name} {
                @if $position == center {
                    justify-content: $position;
                    margin-left: auto;
                    margin-right: auto;
                } @else {
                    justify-content: $position;
                }
            }
        }
        /**
            *   CONTENT POSITION
            *   .xs-y-axis-content--top
            */
        @each $name, $position in $positions {
            .#{$breakpoint-name}-y-axis-content--#{$name} {
                align-content: $position;
            }
        }
        /**
            *   ITEMS POSITION
            *   .xs-y-axis-items--top
            */
        @each $name, $position in $positions {
            .#{$breakpoint-name}-y-axis-items--#{$name} {
                align-items: $position;
            }
        }
        /**
            *   SELF POSITION
            *   .xs-y-axis-self--top
            */
        @each $name, $position in $positions {
            .#{$breakpoint-name}-y-axis-self--#{$name} {
                align-self: $position;
            }
        }
        /**
            *   HIDDEN ELEMENT
            *   .xs-hidden-on
            */
        .#{$breakpoint-name}-hidden--on {
            display: none;
        }
        .#{$breakpoint-name}-hidden--off {
            display: initial;
        }
        /**
            *   ORDER POSITION
            *   .xs--first
            */
        @each $order, $number in $col-order {
            .#{$breakpoint-name}--#{$order} {
                order: $number;
            }
        }
    }
}
