.container {
    /**BOX-MODEL**/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
%base {
    /**LAYOUT**/
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    /**BOX-MODEL**/
    box-sizing: border-box;
}
.row {
    @extend %base;
    /**LAYOUT**/
    flex-direction: row;
    &.reverse {
        /**LAYOUT**/
        flex-direction: row-reverse;
    }
}
.col {
    @extend %base;
    /**LAYOUT**/
    flex-direction: column;
    &.reverse {
        /**LAYOUT**/
        flex-direction: column-reverse;
    }
}
@include sm {
    .container {
        /**BOX-MODEL**/
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .not-container {
        /**BOX-MODEL**/
        margin-right: -10rem;
        margin-left: -10rem;
    }
}
@include md {
    .container {
        /**BOX-MODEL**/
        padding-left: 20rem;
        padding-right: 20rem;
    }
    .not-container {
        /**BOX-MODEL**/
        margin-right: -20rem;
        margin-left: -20rem;
    }
}
@include lg {
    .container {
        /**BOX-MODEL**/
        padding-left: 30rem;
        padding-right: 30rem;
    }
    .not-container {
        /**BOX-MODEL**/
        margin-right: -30rem;
        margin-left: -30rem;
    }
}
@include xl {
    .container {
        /**BOX-MODEL**/
        padding-left: 40rem;
        padding-right: 40rem;
    }
    .not-container {
        /**BOX-MODEL**/
        margin-right: -40rem;
        margin-left: -40rem;
    }
}
