[class^="col-"] {
    box-sizing: border-box;
    flex: 0 0 auto;
}
@each $breakpoint-name, $breakpoint-size in $breakpoints {
    @include media($breakpoint-size) {
        @for $i from 0 through 12 {
            @if ($i == 0) {
                .col-#{$breakpoint-name} {
                    flex-grow: 1;
                    flex-basis: auto;
                    max-width: 100%;
                    width: 100%;
                }
            } @else {
                .col-#{$breakpoint-name}-#{$i} {
                    flex-basis: 100%/12 * $i;
                    max-width: 100%/12 * $i;
                    width: 100%/12 * $i;
                }
            }
        }
        @for $i from 0 through 12 {
            @if ($i == 0) {
                .col-#{$breakpoint-name}-offset-0 {
                    margin-left: 0;
                }
            } @else {
                .col-#{$breakpoint-name}-offset-#{$i} {
                    margin-left: 100%/12 * $i;
                }
            }
        }
    }
}
